.background{
    background-image: url(img/main-bg.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.header{
    height: 15vh;
    
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
}
.header-box{
    display: flex;
    justify-content: space-between;
}
.header-box li{
    display: flex;  
    justify-content: space-around;
    font-size: 25px;

    
}
.hamburger{
    height: 40px;
    width:40px;
    visibility: hidden;
}
.facebook{
    height: 30px;
    width: 30px;
    visibility: hidden;
}
.center{
    
    
    margin: auto;
    margin-top: 30vh;
    height: 20vh;
    width: 30vw;
}
.your{
    text-align: center;
    font-size: 90px;
}
.personal{
    text-align: center;
    font-size: 25px;
}

@media(max-width: 700px){
    .hamburger{
    visibility: visible;
    margin-left : -90px;
    
}
.facebook{
    visibility: visible;
    margin-left: 400px;
    margin-right: -90px;
}
.header-box{
    visibility: hidden;
}
}